.portfolio-container {
    margin: 4rem 3rem;
    position: relative;
}

.portfolio-container::before,
.portfolio-container::after {
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background-color: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.portfolio-container::after {
    top: -3rem;
    left: -5rem;
}

.portfolio-container::before {
    background-color: #535cd3;
    bottom: 0rem;
    right: 0rem;
}

.portfolio-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.portfolio {
    display: grid;
    gap: 3rem;
}


.portfolio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  /* Base button styles */
  .portfolio-buttons .btn {
    background-color: transparent;
    border: 2px solid #4c4f8c;
    color: #4c4f8c;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
  }
  
  .portfolio-buttons .btn:hover {
    background-color: #4c4f8c;
    color: #fff;
    box-shadow: 0 5px 15px rgba(76, 79, 140, 0.4);
  }

  .portfolio-buttons .btn.active {
    background-color: #4c4f8c;
    color: #fff;
    box-shadow: 0 5px 15px rgba(76, 79, 140, 0.6);
    border: none;
  }
  
  .portfolio-buttons .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 79, 140, 0.4);
  }
  

@media screen and (min-width: 768px) {

    .portfolio {
        grid-template-columns: repeat(2, 20rem);
        justify-content: center;
}
}
@media screen and (min-width: 968px) {
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .portfolio-container {
        margin: 4rem 0rem;
    }
}